---
import EventLayout from "../../layouts/eventLayout.astro";
import EventCard from "../../components/eventCard.astro";
import Pagination from "../../components/pagination.astro";
import BreadcrumbContainer from "../../components/ui/breadcrumbContainer.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const allEvents = await getCollection("events");

  let filterEvents = allEvents
    .filter((event) => {
      if (isNaN(event.data.endDate.getTime())) {
        return event.data.startDate >= new Date();
      } else {
        return event.data.endDate >= new Date();
      }
    })
    .sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf());

  return paginate(filterEvents, {
    pageSize: 12,
  });
}

const { page } = Astro.props;

let title = `Próximos Eventos Tech`;
if (page.currentPage != 1) title += ` | Página ${page.currentPage}`;
title += " | CuCoders";
---

<EventLayout title={title}>
  <BreadcrumbContainer
    breadcrumbItems={[{ label: "Eventos", home: true, url: "/eventos" }, { label: "Próximos Eventos" }]}
    btnLabel="Publicar Evento"
    btnUrl="/nuevo-evento"
    btnIcon="/assets/img/icons/event-add.svg"
  />

  {
    page.data.length == 0 && (
      <>
        <img src="/assets/img/emptyList.webp" class="md:w-2/3 w-full mx-auto my-4 dark:opacity-50" />
        <p class="mt-2 text-center text-gray-500"> No hay nuevos eventos disponibles </p>
      </>
    )
  }
  <div class="grid gap-6 w-full grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-7">
    {page.data.map((event) => <EventCard event={event} />)}
  </div>
  <Pagination prev={page.url.prev} next={page.url.next} />
</EventLayout>
