---
import ResourcesLayout from "../../../layouts/resourcesLayout.astro";
import categories from "../../../data/resourcesCategories.json";
import Pagination from "../../../components/pagination.astro";
import ResourceCard from "../../../components/resourceCard.astro";
import Breadcrumb from "../../../components/ui/breadcrumb.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  let allCategories = [];
  for (const key in categories) {
    if (categories[key].isParent) {
      for (const item in categories[key].items) {
        allCategories.push({ key: categories[key].items[item].id, slug: categories[key].items[item].slug });
      }
    } else {
      allCategories.push({ key: categories[key].id, slug: categories[key].slug });
    }
  }

  const allResources = await getCollection("resources");
  return allCategories.map((categoryObj) => {
    let filteredResources = allResources.filter((resource) => resource.data.category == categoryObj.key);
    const category = categoryObj.slug;
    return paginate(filteredResources, {
      params: { category },
      pageSize: 20,
    });
  });
}
const { page } = Astro.props;
const params = Astro.params;
const category = getSelectedCategoryBySlug(params.category);

function getSelectedCategoryBySlug(slug) {
  for (const category of categories) {
    for (const item of category.items) {
      if (item.slug == slug) {
        return item;
      }
    }
    if (category.slug == slug) {
      return category;
    }
  }
  return null;
}
---

<ResourcesLayout title={`Directorio de Recursos para Programadores | ${category.text} | Página ${page.currentPage} | CuCoders`} openCategory={category.parentId} >
  
  <div class="pl-2 mb-3.5 flex justify-between flex-wrap">
    <Breadcrumb items={[{ label: "Recursos",  home: true, url: "/recursos"}, {label: category.text}]} />
    <a
    href="/nuevo-recurso"
    class="text-gray-800 border hidden md:inline-flex border-gray-200 focus:outline-none hover:bg-gray-100 rounded-md text-sm font-normal px-3 py-2 text-center justify-center items-center dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
  >
    <img src="/assets/img/icons/add.svg" class="w-5 h-5 mr-2" />
    Publicar Recurso
  </a>
  </div>
  
  {page.data.length == 0 && <img src="/assets/img/emptyList.webp" class="md:w-2/3 w-full mx-auto my-4" />}

  <div class="grid mb-6 w-full gap-3 md:grid-cols-1 mx-auto px-1 sm:px-0">
    {
      page.data.map((resource) => (
        <ResourceCard name={resource.data.name} url={resource.data.url} description={resource.data.description} />
      ))
    }
  </div>

  <Pagination prev={page.url.prev} next={page.url.next} />
</ResourcesLayout>
