---
import ResourcesLayout from "../../layouts/resourcesLayout.astro";
import SideBar from "../../components/mainSideBar.astro";
import RightDrawer from "../../components/rightDrawer.astro";
import ResourceCard from "../../components/resourceCard.astro";
import BreadcrumbContainer from "../../components/ui/breadcrumbContainer.astro";
import { getCollection } from "astro:content";

const resources = (await getCollection("resources")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const lastResources = resources.slice(0, 20);
---

<ResourcesLayout title="Directorio de Recursos para Programadores | CuCoders" hasRightSidebar={true}>
  <BreadcrumbContainer
    breadcrumbItems={[{ label: "Recursos", home: true, url: "/recursos" }, { label: "Ultimos Recursos" }]}
    btnLabel=" Publicar Recurso"
    btnUrl="/nuevo-recurso"
    btnIcon="/assets/img/icons/add.svg"
  />

  <div class="grid mb-6 w-full gap-4 md:grid-cols-1 mx-auto px-3 sm:px-0">
    {
      lastResources.map((resource) => (
        <ResourceCard name={resource.data.name} url={resource.data.url} description={resource.data.description} />
      ))
    }
  </div>
</ResourcesLayout>

<RightDrawer title="Categorías">
  <SideBar isSideMenu={true} />
</RightDrawer>
