---
import LinkIcon from "../../components/helpers/linkIcon.astro";
import categories from "../../data/profileCategories.json";

const { profile } = Astro.props;
---

<div
  class="bg-white border md:mx-auto mb-5 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
>
  <div class="p-8 md:px-15 lg:px-12">
    <div class="mb-5 flex justify-between">
      <div class="flex items-center flex-col md:flex-row md:space-x-4 w-full">
        <div class="relative mb-3 md:mb-0">
          <img class="w-36 h-36 min-w-[9rem] rounded-full md:mr-2" src={profile.avatar_url} alt={profile.name + " avatar"} />

          {
            profile["hireable"] && (
              <>
                <div
                  data-tooltip-target="tooltip-right"
                  data-tooltip-placement="right"
                  class="bottom-2 left-[7rem] absolute grid place-content-center w-9 h-9 bg-green-500 border-4 border-white dark:border-gray-800 rounded-full"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path
                      fill="white"
                      d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"
                    />
                  </svg>
                </div>
                <div
                  id="tooltip-right"
                  role="tooltip"
                  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
                >
                  Open to Work
                  <div class="tooltip-arrow" data-popper-arrow />
                </div>
              </>
            )
          }
        </div>

        <div class="font-medium dark:text-white grow">
          <div class="text-2xl md:mb-1 mb-4 flex flex-col md:flex-row md:justify-between items-center">
            <div class="text-gray-900">
              {profile.name}
            </div>
            <div class="py-2 md:py-0">
              {
                profile["blog"] && (
                  <LinkIcon
                    url={profile["blog"]}
                    img="/assets/img/icons/web.svg"
                    text="Web"
                    target="_blank"
                    id="profile-web"
                    size="md:w-5 md:h-5 w-6 h-6"
                    padding="p-2"
                  />
                )
              }

              {
                profile["email"] && (
                  <LinkIcon
                    url={"mailto:" + profile["email"]}
                    img="/assets/img/icons/email.svg"
                    text="Email"
                    target="_blank"
                    id="profile-email"
                    size="md:w-5 md:h-5 w-6 h-6"
                    padding="p-2"
                  />
                )
              }
              {
                profile["twitter_username"] && (
                  <LinkIcon
                    url={"https://twitter.com/" + profile["twitter_username"]}
                    img="/assets/img/icons/twitter.svg"
                    text="Twitter"
                    target="_blank"
                    id="profile-twitter"
                    size="md:w-5 md:h-5 w-6 h-6"
                    padding="p-2"
                  />
                )
              }
              {
                profile["telegram_username"] && (
                  <LinkIcon
                    url={"https://t.me/" + profile["telegram_username"]}
                    img="/assets/img/icons/telegram.svg"
                    text="Telegram"
                    target="_blank"
                    id="profile-telegram"
                    size="md:w-5 md:h-5 w-6 h-6"
                    padding="p-2"
                  />
                )
              }
              {
                profile["linkedin_username"] && (
                  <LinkIcon
                    url={"https://www.linkedin.com/in/" + profile["linkedin_username"]}
                    img="/assets/img/icons/linkedin.svg"
                    text="Linkedin"
                    target="_blank"
                    id="profile-linkedin"
                    size="md:w-5 md:h-5 w-6 h-6"
                    padding="p-2"
                  />
                )
              }
              {
                profile["username"] && (
                  <LinkIcon
                    url={"https://github.com/" + profile["username"]}
                    img="/assets/img/icons/github.svg"
                    text="Github"
                    target="_blank"
                    id="profile-github"
                    size="md:w-5 md:h-5 w-6 h-6"
                    padding="p-2"
                  />
                )
              }
              <button
                id="dropdownMenuIconHorizontalButton"
                data-dropdown-toggle="dropdownDotsHorizontal"
                class="p-2 md:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm keychainify-checked"
                type="button"
              >
                <img src="/assets/img/icons/menu-vertical-black.svg" class="md:w-5 md:h-5 w-6 h-6 inline" />
              </button>
            </div>
          </div>
          <div
            class="text-base mb-3 font-normal flex justify-center flex-wrap md:justify-start items-center text-gray-600 dark:text-gray-500"
          >
            {profile.headline && <div class="md:mr-5 mr-3">{profile.headline}</div>}

            {
              profile.location && (
                <div class="flex items-center md:mr-5 mr-3">
                  <img src="/assets/img/icons/map.svg" class="w-5 h-5 inline" />
                  <spam class="ml-1">{profile.location}</spam>
                </div>
              )
            }
            {
              profile.company && (
                <div class="flex items-center md:mr-5 mr-3">
                  <img src="/assets/img/icons/company.svg" class="w-5 h-5 inline" />
                  <spam class="ml-1">{profile.company}</spam>
                </div>
              )
            }
          </div>
          <div class="text-sm mb-4 font-normal text-center md:text-left text-gray-900">{profile.bio}</div>
          <div class="flex flex-wrap justify-center md:justify-start">
            {
              profile.categories.map((role) => (
                <a
                  href={"/directorio/" + categories[role].slug}
                  class="inline rounded-md bg-gray-50 text-gray-800 my-1 md:my-0 font-normal text-sm py-1 px-2 mr-3 "
                >
                  {categories[role].text}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dropdown menu -->
  <div
    id="dropdownDotsHorizontal"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Compartir</a>
      </li>
      <li>
        <a href="/perfil" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Editar Perfil</a
        >
      </li>
    </ul>
    <div class="py-1">
      <a
        href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
        >Reportar</a
      >
    </div>
  </div>
</div>
