---
import profileCategories from "../../../data/profileCategories.json";
import jobsCategories from "../../../data/jobsCategories.json";

import JobLayout from "../../../layouts/jobLayout.astro";
import JobCard from "../../../components/jobs/jobCard.astro";
import Pagination from "../../../components/pagination.astro";

export async function getStaticPaths({ paginate }) {
  let allJobsCategories = [];
  for (const key in jobsCategories) {
    allJobsCategories.push({ key: key, slug: jobsCategories[key].slug });
  }

  // Este es un trabajo temporal aqui hay que llamar a la API
  const AllJobs = [
    {
      title: "Trabajo nuevo que estoy poniendo aqui que va a ser a askdjaashd kajsdhaksjddha skdjh ",
      salary: "15 fulas hora",
      description:
        "Hoy traemos una tentadora oferta laboral para expertos en Wordpress (Elementor + Crocoblock), con dominio en inglés. 🤓   Uniéndote a nuestro equipo, podrás trabajar con increíbles profesionales en un proyecto desafiante que te brindará estabilidad laboral, competitiva remuneración, horario flexible, trabajo remoto y muchos otros beneficios.   ",
      categories: ["freelancer"],
      freelancer: false,
      fulltime: true,
      parttime: false,
      remote: false,
      presential: true,
      relocate: true,
      location: "Angola",
      pubDate: Date.now(),
      applyEmail: "contact@paco.com",
      applyUrl: "escribeaqui.com",
      applyTelegramUser: "paquito",
      slug: "trabajo-nuevo",
    },
  ];

  return allJobsCategories.map((categoryObj) => {
    let filteredJobs = AllJobs.filter((job) => job[categoryObj.key]);
    filteredJobs.sort((a, b) => b.pubDate.valueOf() - a.pubDate.valueOf());
    const category = categoryObj.slug;
    return paginate(filteredJobs, {
      params: { category },
      pageSize: 18,
    });
  });
}
const { page } = Astro.props;
const params = Astro.params;

let category = {};

for (const [key, value] of Object.entries(jobsCategories)) {
  if (value.slug == params.category) {
    category = value;
    break;
  }
}
---

<JobLayout
  title={`Directorio de Aplicaciones Cubanas | ${category.text} | Página ${page.currentPage}`}
  description="Explora el futuro de la tecnología cubana en el directorio de aplicaciones de Cucoders. Descubre las aplicaciones creadas por desarrolladores locales y apóyalos en su camino hacia el éxito. ¡Navega en nuestro directorio de aplicaciones y descubre las soluciones innovadoras desarrolladas en Cuba!"
>
  {page.data.length == 0 && <img src="/assets/img/emptyList.webp" class="md:w-2/3 w-full mx-auto my-4" />}

  <div class="grid mb-6 w-full gap-4 md:grid-cols-1 mx-auto px-3 sm:px-0">
    {page.data.map((job) => <JobCard job={job} />)}
  </div>

  <Pagination prev={page.url.prev} next={page.url.next} />
</JobLayout>
