---
import ProfileLayout from "../../../layouts/profileLayout.astro";
import { members_api_url } from "../../../data/conf.json";
import AppCard from "../../../components/apps/appCard.astro";
import { getCollection } from "astro:content";

const response = await fetch(members_api_url + "members-data");
const members_data = await response.json();

export async function getStaticPaths() {
  const response = await fetch(members_api_url + "members-list");
  const members_list = await response.json();
  var pathsList = [];

  for (const key of members_list) {
    const obj = { params: { username: key } };
    pathsList.push(obj);
  }
  return pathsList;
}

const params = Astro.params;

const userApps = await getCollection("apps", ({ id }) => {
  return id.startsWith(params.username + "/");
});


---

<ProfileLayout profile={members_data[params.username]} activeTab="apps"  pageTitle="Aplicaciones" noIndex={true}>
  <div class="grid mb-6 w-full gap-4 md:grid-cols-1 mx-auto px-3 sm:px-0">
    {
      userApps.map((app) => (
        <AppCard
          title={app.data.name}
          subtitle={app.data.description}
          url={"/apps/" + app.slug}
          logo={app.data.logo}
          categories={app.data.categories}
          classes = "inline-flex items-center p-5 text-gray-500 bg-white border-gray-200 border-b px-10"
        />
      ))
    }
  </div>
</ProfileLayout>