---
import profileCategories from "../../data/profileCategories.json";
import jobsCategories from "../../data/jobsCategories.json";
import JobCardCategory from "./jobCardCategory.astro";

const { job } = Astro.props;
const jobUrl = `/empleos/${job.pubDate}/${job.slug}`;

const locationLabel = job.location ? job.location : "Presencial";
---

<div class="inline-flex items-center w-full p-4 pb-1 md:pb-2 text-gray-500 bg-white border border-gray-200 rounded-lg">
  <div class="ml-2 inline-grid">
    <a href={jobUrl} class="w-full text-base md:text:lg text-gray-800 font-semibold line-clamp-2 md:line-clamp-1"
      >{job.title}</a
    >
    <a href={jobUrl} class="w-full my-2 text-sm md:text:base text-gray-600 line-clamp-3 md:line-clamp-2">{job.description}</a
    >
    <div
      class="flex categories flex-wrap -ml-2 justify-center md:justify-start border-t pt-2 mt-2 md:border-none md:pt-0 md:mt-0"
    >
      {
        job.salary && (
          <>
            <div class="flex items-center mr-1 px-2 py-1 rounded">
              <img src={`/assets/img/icons/money4.svg`} class="w-5 h-5 inline" />
              <p class="ml-1 text-xs md:text-sm max-w-[10rem] truncate"> {job.salary} </p>
            </div>
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.freelance && (
          <>
            <JobCardCategory
              text={jobsCategories["freelance"].text}
              ico="freelancer"
              url={jobsCategories["freelance"].slug}
            />
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.fulltime && (
          <>
            <JobCardCategory text={jobsCategories["fulltime"].text} ico="full-time" url={jobsCategories["fulltime"].slug} />
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.parttime && (
          <>
            <JobCardCategory text={jobsCategories["parttime"].text} ico="part-time" url={jobsCategories["parttime"].slug} />
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.presential && (
          <>
            <JobCardCategory text={locationLabel} ico="map" url={jobsCategories["presential"].slug} />
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.remote && (
          <>
            <JobCardCategory text={jobsCategories["remote"].text} ico="remote" url={jobsCategories["remote"].slug} />
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.relocate && (
          <>
            <JobCardCategory text={jobsCategories["relocate"].text} ico="relocate" url={jobsCategories["relocate"].slug} />
            <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
          </>
        )
      }
      {
        job.categories &&
          job.categories.map((category) => (
            <>
              <a
                href={"/empleos/" + profileCategories[category].slug}
                class="text-gray-500 text-xs md:text-sm mr-1 px-2 border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-normal rounded  py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              >
                {"#" + profileCategories[category].text}
              </a>
              <div class="w-0.5 h-5 mr-1 bg-gray-400 place-self-center hidden md:block" />
            </>
          ))
      }
    </div>
    <div class="mt-1 flex flex-wrap"></div>
  </div>
</div>

<style>
  .categories div:last-child {
    display: none;
  }
</style>
