---
import BaseLayout from "../layouts/baseLayout.astro";
import categories from "../data/resourcesCategories.json";
import TextInput from "../components/forms/textInput.astro";
import "../styles/main.css";

let categoriesList = [];
for (const key in categories) {
  if (categories[key].isParent) {
    categoriesList.push({
      key: categories[key].id,
      text: `---------- ${categories[key].text}`,
      isParent: true,
      parent: null,
    });
    for (const item in categories[key].items) {
      categoriesList.push({
        key: categories[key].items[item].id,
        text: categories[key].items[item].text,
        isParent: false,
        parent: categories[key].id,
      });
    }
  } else {
    categoriesList.push({
      key: categories[key].id,
      text: `---------- ${categories[key].text}`,
      isParent: false,
      parent: null,
    });
  }
}
---

<BaseLayout title="Publicar Nuevo Recurso">
  <div
    id="resource-form"
    class="bg-white border md:mx-auto mb-5 p-8 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    <div class="flex justify-between">
      <h1 class="text-xl font-bold">Nuevo Recurso</h1>
    </div>

    <hr class="my-4" />

    <div>
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <TextInput id="name" label="Nombre *" maxlength="80" />
        <TextInput id="url" label="URL *" type="url" maxlength="200" />
      </div>
      <div class="mb-6">
        <TextInput id="description" label="Descripción *" maxlength="250" />
      </div>
    </div>

    <div class="mb-6">
      <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoría *</label>
      <select
        id="category"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option selected>Seleccione una categoría</option>
        {
          categoriesList.map((category) => (
            <option disabled={category.isParent} value={category.key} data-parent={category.parent}>
              {category.text}
            </option>
          ))
        }
      </select>
    </div>

    <div class="flex justify-center">
      <button
        id="addResource"
        class="text-white mt-4 mx-2 bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >Adicionar Recurso</button
      >
    </div>
  </div>
</BaseLayout>

<script>
  const resourceBtn = document.getElementById("addResource");
  resourceBtn.addEventListener("click", addResource, true);

  function addResource() {
    const fileName = getElem("name").value.replace(/\s/g, "-") + ".md";
    const fileText = createResourceData();
    const encodedFileText = encodeURIComponent(fileText);
    const githubQueryLink = getFileRoute(fileName, encodedFileText);
    window.open(githubQueryLink);
  }

  function getElem(id) {
    return <HTMLInputElement>document.getElementById(id);
  }

  function createResourceData() {
    return `---
name: "${getElem("name").value}"
url: "${getElem("url").value}"
description: "${getElem("description").value}"
category: "${getElem("category").value}"
pubDate: "${new Date().toDateString()}"
---`;
  }

  function getFileRoute(fileName, encodedFileText) {
    const category = getElem("category").value;
    const parentCategory = getElem("category").options[getElem("category").selectedIndex].getAttribute("data-parent");
    let subRoute = parentCategory ? `${parentCategory}/${category}` : `${category}`;
    let route = `https://github.com/CuCodersCommunity/cucoderscommunity.github.io/new/main/src/content/resources/${subRoute}/new?value=${encodedFileText}&filename=${fileName}`;
    return route;
  }
</script>
