---
const { img, title, desc, url, target="_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div class="overflow-y-auto rounded-md mb-5 bg-white border-solid border-[1px] border-gray-200">
  <a href={url} target={target}>
    <Image
      class="rounded-t-lg"
      src={img}
      alt={title + " Image"}
      format="webp"
      quality={85}
      width={254}
      aspectRatio={16 / 9}
      fit="cover"
      position="center"
    />
  </a>
  <div class="p-5">
    <a href={url} target={target}>
      <h5 class="mb-2 text-base font-bold tracking-tight text-gray-900 dark:text-white line-clamp-2">
        {title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-4">
      {desc}
    </p>
  </div>
</div>
