---
import PromoCard from "./promoCard.astro";
import PromoImage from "./promoImage.astro";
---

<div class="border-t my-5 h-1 border-gray-200 dark:border-gray-700"></div>

<div>
  <PromoCard id="first-promo-card" />
  <PromoCard id="second-promo-card" />
  <PromoImage id="img-promo-card" />
</div>

<script>
  import fisrtBannerData from "../../data/sideBar/featuredBanner1.json";
  import secondBannerData from "../../data/sideBar/featuredBanner2.json";
  import thirdBannerData from "../../data/sideBar/featuredBanner3.json";

  const firstPromoData = fisrtBannerData[randomNumber(0, fisrtBannerData.length - 1).toString()];
  const secondPromoData = secondBannerData[randomNumber(0, secondBannerData.length - 1).toString()];
  const thirdPromoData = thirdBannerData[randomNumber(0, thirdBannerData.length - 1).toString()];

  showPromoData("first-promo-card", firstPromoData);
  showPromoData("second-promo-card", secondPromoData);
  showImgPromoData("img-promo-card", thirdPromoData);

  function randomNumber(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  function showPromoData(elementId, data) {
    document.querySelectorAll(`.${elementId}`).forEach((item) => {
      item.querySelector(`.${elementId}-title`).innerHTML = data.title;
      item.querySelector(`.${elementId}-desc`).innerHTML = data.desc;
      item.querySelector(`.${elementId}-link`).href = data.url;
      item.querySelector(`.${elementId}-img`).src = data.img;
    });
  }

  function showImgPromoData(elementId, data) {
    document.querySelectorAll(`.${elementId}`).forEach((item) => {
      item.querySelector(`.${elementId}-desc`).innerHTML = data.desc;
      item.style = `background-image: url(${data.img})`;
      item.src = data.url;
    });
  }
</script>
