---
const { url = "#", img, text, target = "_blank" } = Astro.props;
import { getImage } from "@astrojs/image";

const { src } = await getImage({
  src: img,
  alt: text,
  format: "webp",
  quality: 85,
  width: 254,
  aspectRatio: 16 / 9,
  fit: "cover",
  position: "center",
});

const promoStyle = `background-image: url(${src})`;
---

<a
  href={url}
  target={target}
  class="flex group p-8 mb-8 h-36 bg-gray-500 hover:bg-blend-multiply text-left bg-local bg-center bg-no-repeat bg-cover rounded-lg transition-all duration-300"
  style={promoStyle}
>
  <p
    class="px-2 font-extrabold leading-tight tracking-tight opacity-0 text-white group-hover:opacity-100 transition-all duration-300"
  >
    {text}
  </p>
</a>
