---
import dayjs from "dayjs";
import "dayjs/locale/es";
import readingTime from "reading-time";
import { Octokit } from "octokit";

const { post } = Astro.props;
const author = post.url.split("/")[2];
const octokit = new Octokit({ auth: import.meta.env.SECRET_GITHUB_TOKEN });
const response = await octokit.request("GET /users/" + author, { username: author });
const user_data = await response.data;
const stats = readingTime(post.rawContent());
const read_time = stats.text.replace("read", "");
const description = post.frontmatter.description
  ? post.frontmatter.description
  : post.rawContent().slice(0, 160) + "...";

const display_date = dayjs(post.frontmatter.pubDate).format("D MMM");

let BannerSyle = "background-image: url(" + post.frontmatter.image + ")";

if (!post.frontmatter.image) {
  BannerSyle = "display: none";
}
---

<div class="bg-white border border-gray-200 rounded-lg mb-5 dark:bg-gray-800 dark:border-gray-700 w-full">
  <a href={post.url}>
    <div class="bg-cover bg-center h-[13rem] md:h-[14rem] lg:h-[20rem] rounded-t-lg" style={BannerSyle}></div>
  </a>

  <div class="p-5">
    <div class="mb-3 flex justify-between">
      <a href={user_data.html_url} class="flex items-center space-x-4">
        <img class="w-10 h-10 rounded-full" src={user_data.avatar_url} alt={user_data.name + " avatar"} />
        <div class="font-medium dark:text-white">
          <div>
            {user_data.name}
            <spam class="mx-2 text-gray-700">•</spam>
            <spam class="text-gray-500 font-normal"> 5d</spam>
          </div>
          <div class="text-sm text-gray-500 dark:text-gray-400">Software Developer</div>
        </div>
      </a>

      <button
        id="dropdownMenuIconHorizontalButton"
        data-dropdown-toggle="dropdownDotsHorizontal"
        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button"
      >
        <img src="/assets/img/icons/menu-vertical-black.svg" class="h-6 w-6" />
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdownDotsHorizontal"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
      >
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
        </ul>
        <div class="py-1">
          <a
            href="#"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >Separated link</a
          >
        </div>
      </div>
    </div>

    <a href={post.url}>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        {post.frontmatter.title}
      </h5>
    </a>
    <p class="mb-5 font-normal text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <div class="my-2 flex justify-between">
      <div>
        {
          post.frontmatter.tags.map((tag) => (
            <a
              href="#"
              class="text-gray-600 bg-white my-1 border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-normal rounded md:text-base text-sm px-1 py-1.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            >
              {"#" + tag}
            </a>
          ))
        }
      </div>
      <div class="text-sm text-gray-500">{read_time + " lectura"}</div>
    </div>
  </div>
</div>
