---
import PromoSection from "./sidebarComponents/promoSection.astro";
import Item from "./sidebarComponents/sidebarItem.astro";
import categories from "../data/jobsCategories.json";
import profileCategories from "../data/profileCategories.json";

const { isSideMenu = false } = Astro.props;

let sidebarClass = "px-3 mb-5 py-4 overflow-y-auto rounded-md bg-white border-solid border-[1px] border-gray-200";

if (isSideMenu) {
  sidebarClass = "mb-5 overflow-y-auto";
}

let categoriesList = [];
for (const key in categories) {
  categories[key].url = "/directorio/" + categories[key].slug;
  categoriesList.push(categories[key]);
}

let profileCategoriesList = [];
for (const key in profileCategories) {
  profileCategories[key].url = "/directorio/" + profileCategories[key].slug;
  profileCategoriesList.push(profileCategories[key]);
}
---

<aside class="w-64" aria-label="Sidebar">
  <div class={sidebarClass}>
    <ul class="space-y-2">
      <Item text="Todos" ico="/assets/img/icons/all.svg" url="/empleos" />
      {categoriesList.map((category) => <Item text={category.text} ico={category.ico} url={category.url} />)}
    </ul>
  </div>

  <div class={sidebarClass}>
    <ul class="space-y-2">
      {profileCategoriesList.map((category) => <Item text={category.text} ico={category.ico} url={category.url} />)}
    </ul>
  </div>



  <a
    href="/nuevo-empleo"
    class="text-gray-900 bg-white w-full border border-gray-200 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 rounded-full text-base font-normal px-5 py-3 text-center inline-flex justify-center items-center mr-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
  >
    <img src="/assets/img/icons/business.svg" class="w-6 h-6 mr-2" />
    Publicar Empleo
  </a>

  <div class="border-t my-5 h-1 border-gray-200"></div>

  <PromoSection />
</aside>
