---
import PromoSection from "./sidebarComponents/promoSection.astro";
import Item from "./sidebarComponents/sidebarItem.astro";
import SidebarMultiLevelItem from "./sidebarComponents/sidebarMultiLevelItem.astro";
import categories from "../data/resourcesCategories.json";
import { getSidebarClasses } from "../components/helpers/sideBar";

const { isSideMenu = false, openCategory = null } = Astro.props;

let sidebarClass = getSidebarClasses(isSideMenu);
let sidebarIdComplement = isSideMenu ? "-sidebar" : "";

function isOpenCategory(categoryId) {
  return openCategory == categoryId;
}
---

<aside class="w-64" aria-label="Sidebar">
  <div class={sidebarClass}>
    <ul class="space-y-2">
      {
        categories.map((category) => (
          <div>
            {category.isParent ? (
              <SidebarMultiLevelItem
                text={category.text}
                id={category.id + sidebarIdComplement}
                ico={category.ico}
                opened={isOpenCategory(category.id)}
              >
                {category.items.map((item) => (
                  <Item text={item.text} url={"/recursos/" + item.slug} />
                ))}
              </SidebarMultiLevelItem>
            ) : (
              <Item text={category.text} url={"/recursos/" + category.slug} ico={category.ico} />
            )}
          </div>
        ))
      }
    </ul>
  </div>

  <PromoSection />
</aside>
