---
import PromoSection from "./sidebarComponents/promoSection.astro";
import Item from "./sidebarComponents/sidebarItem.astro";
import SidebarMultiLevelItem from "./sidebarComponents/sidebarMultiLevelItem.astro";
import categories from "../data/resourcesCategories.json";

const { isSideMenu = false, openCategory = null } = Astro.props;

let sidebarClass = "px-3 mb-5 py-4 overflow-y-auto rounded-md bg-white border-solid border-[1px] border-gray-200";
let sidebarIdComplement = "";

if (isSideMenu) {
  sidebarClass = "mb-5 overflow-y-auto";
  sidebarIdComplement = "-sidebar";
}

function isOpenCategory(categoryId) {
  return openCategory == categoryId;
}
---

<aside class="w-64" aria-label="Sidebar">
  <div class={sidebarClass}>
    <ul class="space-y-2">
      {
        categories.map((category) => (
          <div>
            {category.isParent ? (
              <SidebarMultiLevelItem
                text={category.text}
                id={category.id + sidebarIdComplement}
                ico={category.ico}
                opened={isOpenCategory(category.id)}
              >
                {category.items.map((item) => (
                  <Item text={item.text} url={"/recursos/" + item.slug} />
                ))}
              </SidebarMultiLevelItem>
            ) : (
              <Item text={category.text} url={"/recursos/" + category.slug} ico={category.ico} />
            )}
          </div>
        ))
      }
    </ul>
  </div>

  <div class="border-t my-5 h-1 border-gray-200"></div>

  <PromoSection />
</aside>
