---
import EventsTimeLine from "./sidebarComponents/eventsTimeLine.astro";
import MembersList from "./sidebarComponents/membersList.astro";
import AppItem from "./sidebarComponents/appItem.astro";
import { getLastApps } from "./helpers/getLastApps";
import { getFeaturedApps } from "./helpers/getFeaturedApps";

const lastApps = await getLastApps();
const featuredApps = await getFeaturedApps();
---

<div class="pt-2">
  <EventsTimeLine />
  <div class="border-solid border-b-[1px] mb-3 pb-3">
    <div class="font-medium text-gray-800 mb-4">Últimos Lanzamientos</div>
    {
      lastApps.map((app) => (
        <AppItem name={app.name} img={app.logo} description={app.description} url={"/apps/" + app.url} />
      ))
    }
  </div>

  <div class="border-solid mb-3 pb-3">
    <div class="font-medium text-gray-800 mb-4">Aplicaciones Destacadas</div>
    {
      featuredApps.map((app) => (
        <AppItem name={app.name} img={app.logo} description={app.description} url={"/apps/" + app.url} />
      ))
    }
  </div>
</div>
