---
import PageMetaTags from "../components/pageMetaTags.astro";
import NavBar from "../components/navBar.astro";
import Footer from "../components/footer.astro";
import MainDrawer from "../components/mainDrawer.astro";
import { Schema } from "astro-seo-schema";

const {
  title,
  description = "Cucoders es una plataforma para potenciar el desarrollo de software en Cuba y apoyar a los desarrolladores y emprendedores en su carrera profesional. Descubre recursos, aplicaciones, artículos, perfiles de programadores y ofertas laborales. Cucoders es el lugar perfecto para encontrar oportunidades y mantenerse actualizado en el mundo de la programación.",
  image,
  hasRightSidebar = false,
  noIndex = false,
  canonicalUrl,
  seoSchema,
  backUrl = false,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>

    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-PX2S82TBFB"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-PX2S82TBFB");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    {noIndex && <meta name="robots" content="noindex" />}
    {seoSchema && <Schema item={seoSchema} />}
    <PageMetaTags title={title} description={description} image={image} />
  </head>
  <body class="bg-gray-50 dark:bg-gray-900">
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <NavBar hasRightSidebar={hasRightSidebar} backUrl={backUrl} />
    {!backUrl && <MainDrawer />}
    <div class="container flex flex-wrap items-center justify-between mx-auto lg:px-4 pt-14">
      <slot />
    </div>
    <Footer />
  </body>
</html>
