---
import BaseLayout from "../layouts/baseLayout.astro";
import RightSideBar from "../components/rightSideBar.astro";
import RightDrawer from "../components/rightDrawer.astro";
import DirectorySideBar from "../components/directorySideBar.astro";

const {
  title,
  description = "Conecta con los mejores programadores cubanos en el directorio de programadores de Cucoders. Descubre sus habilidades y experiencias y encuentra el colaborador perfecto para tu próximo proyecto. ¡Explora nuestro directorio de programadores y expande tu red profesional hoy en Cucoders!",
  image,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image} hasRightSidebar={true}>
  <div class="grid w-full gap-8 grid-cols-1 md:grid-cols-[16rem_1fr] mt-8">
    <div class="hidden md:block">
      <DirectorySideBar />
    </div>
    <div class="px-5 md:px-0">
      <slot />
    </div>
  </div>
</BaseLayout>

<RightDrawer title="Categorías">
  <DirectorySideBar isSideMenu={true} />
</RightDrawer>
