---
import BaseLayout from "../layouts/baseLayout.astro";
import RightDrawer from "../components/rightDrawer.astro";
import EventsSidebar from "../components/eventsSidebar.astro";

const {
  title,
  description = "Únete a la comunidad de tecnología en constante crecimiento en nuestra sección de eventos. Asiste a conferencias, talleres y encuentros para aprender de expertos y conectar con otros profesionales de la industria. ¡Explora nuestro calendario de eventos y amplía tus horizontes en el mundo de la tecnología con Cucoders",
  image,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image} hasRightSidebar={true}>
  <div class="grid w-full gap-8 grid-cols-1 md:grid-cols-[16rem_1fr] mt-4 md:mt-8">
    <div class="hidden md:block">
      <EventsSidebar />
    </div>
    <div class="px-5 md:px-0">
      <slot />
    </div>
  </div>
</BaseLayout>

<RightDrawer title="Categorías">
  <EventsSidebar isSideMenu={true} />
</RightDrawer>
