---
import BaseLayout from "../layouts/baseLayout.astro";
import RightDrawer from "../components/rightDrawer.astro";
import EventsSidebar from "../components/eventsSidebar.astro";

const { title, description, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} hasRightSidebar={true}>
  <div class="grid w-full gap-8 grid-cols-1 md:grid-cols-[16rem_1fr] mt-8">
    <div class="hidden md:block">
      <EventsSidebar />
    </div>
    <div class="px-5 md:px-0">
      <slot />
    </div>
  </div>
</BaseLayout>

<RightDrawer title="Categorías">
  <EventsSidebar isSideMenu={true} />
</RightDrawer>
