---
import BaseLayout from "./baseLayout.astro";
import ShareThisModal from "../components/helpers/shareThisModal.astro";
import ReportModal from "../components/modals/reportModal.astro";
import DropdownMenuVerticalDots from "../components/ui/dropdownMenuVerticalDots.astro";
import dayjs from "dayjs";
import "dayjs/locale/es";
import { Image } from 'astro:assets';

dayjs.locale("es");

const { event } = Astro.props;
const eventData = event.data;

let display_date = `${dayjs(eventData.startDate).format("D MMM. YYYY hh:mm a")}`;
if (!isNaN(event.data.endDate.getTime()) && !dayjs(event.data.startDate).isSame(event.data.endDate, "day")) {
  display_date += ` - ${dayjs(eventData.endDate).format("D MMM. YYYY hh:mm a")} `;
}

let banner_syle = "background-image: url(" + eventData.image + ")";

if (!eventData.image) {
  banner_syle = "display: none";
}
---

<BaseLayout title={eventData.name} description={eventData.description} image={eventData.image} backUrl="/eventos">
  <div
    class="bg-white border md:mx-auto mb-5 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    {
      eventData.image && (
        <Image
          class="bg-center h-[15rem] md:h-[22rem] lg:h-[28rem] rounded-t-lg object-cover"
          src={eventData.image}
          alt={eventData.name + " cover"}
          format="webp"
          loading="eager"
          quality={85}
          width={925}
          aspectRatio={16 / 9}
          fit="cover"
          position="center"
        />
      )
    }

    <div class="p-8 md:px-15 lg:px-20">
      <div class="flex flex-col md:flex-row md:justify-between items-center">
        <h1
          class="mb-1 text-3xl md:text-4xl text-center md:text-left font-bold tracking-tight text-gray-900 dark:text-gray-100"
        >
          {eventData.name}
        </h1>
        <div class="mb-1 flex justify-end">
          <div class="flex items-start ml-3">
            {
              eventData.url && (
                <a
                  href={eventData.url}
                  target="_blank"
                  class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-gray-100 focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                  type="button"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 min-w-[1.5rem] fill-gray-500 dark:fill-gray-300" width="1em" height="1em" viewBox="0 0 24 24">
                    <path d="M10.59 13.41c.41.39.41 1.03 0 1.42c-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0a5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 0 0 0-4.24a2.982 2.982 0 0 0-4.24 0l-3.53 3.53a2.982 2.982 0 0 0 0 4.24m2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0a5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 0 0 0 4.24a2.982 2.982 0 0 0 4.24 0l3.53-3.53a2.982 2.982 0 0 0 0-4.24a.973.973 0 0 1 0-1.42Z"/>
                  </svg>
                </a>
              )
              }
            <DropdownMenuVerticalDots/>
          </div>

          <!-- Dropdown menu -->
          <div
            id="dropdownDotsHorizontal"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
              <li>
                <a
                  id="shareThisBtn"
                  class="block px-4 cursor-pointer py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Compartir</a
                >
              </li>
              <li>
                <a
                  href={"https://github.com/CuCodersCommunity/cucoderscommunity.github.io/edit/main/src/content/events/" +
                    event.id}
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Editar</a
                >
              </li>
            </ul>
            <div class="py-1">
              <a
                data-modal-target="reportModal"
                data-modal-toggle="reportModal"
                class="block px-4 cursor-pointer py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Reportar</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="my-2 flex justify-center md:justify-start">
        <div>
          <div class="flex items-center md:mr-5 mr-3">
            <img src="/assets/img/icons/event.svg" class="w-6 h-6 inline dark:invert dark:contrast-200 dark:saturate-0" />
            <spam class="ml-1 text-gray-600 dark:text-gray-300">{display_date}</spam>
          </div>
        </div>
      </div>
      <div class="flex justify-center md:justify-start">
        {
          eventData.location && (
            <div class="flex items-center md:mr-5 mr-3">
              <img src="/assets/img/icons/map.svg" class="w-6 h-6 inline dark:invert dark:contrast-200 dark:saturate-0" />
              <spam class="ml-1 text-gray-600 dark:text-gray-300">{eventData.location}</spam>
            </div>
          )
        }
        {eventData.virtual && <spam class="mr-5 text-gray-600 dark:text-gray-300">#Virtual</spam>}
        {eventData.presential && <spam class="mr-5 text-gray-600 dark:text-gray-300">#Presencial</spam>}
      </div>
      <hr class="my-5" />
      <article class="my-5 prose lg:prose-lg prose-img:mx-auto max-w-none break-words dark:text-gray-100 dark:[&_h1]:text-gray-100 dark:[&_h2]:text-gray-100 dark:[&_h3]:text-gray-100 dark:[&_h4]:text-gray-100 dark:[&_a]:text-gray-100 dark:[&_i]:text-gray-100 dark:[&_em]:text-gray-100 dark:[&_u]:text-gray-100 dark:[&_strong]:invert dark:[&_strong]:contrast-200 dark:[&_strong]:saturate-0">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>

<ShareThisModal />
<ReportModal />
