---
import ReportModal from "../components/modals/reportModal.astro";
import BaseLayout from "./baseLayout.astro";
import ShareThisModal from "../components/helpers/shareThisModal.astro";
import dayjs from "dayjs";
import "dayjs/locale/es";
import readingTime from "reading-time";
import categoriesList from "../data/categories.json";
import { members_api_url } from "../data/conf.json";

dayjs.locale("es");

const { post } = Astro.props;
const post_data = post.data;
const display_date = dayjs(post_data.pubDate).format("D MMM. YYYY");
const stats = readingTime(post.body);
const read_time = stats.text.replace("read", "");
const response = await fetch(members_api_url + "/members/" + post_data.username);
const user_data = await response.json();
import { Image } from "@astrojs/image/components";

const description = post_data.description ? post_data.description : post.body.slice(0, 160) + "...";
---

<BaseLayout
  title={post_data.title + " | CuCoders"}
  description={description}
  image={post_data.image}
  canonicalUrl={post_data.canonicalUrl}
>
  <div
    class="bg-white border md:mx-auto mb-5 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    {
      post_data.image && (
        <Image
          class="bg-center h-[15rem] md:h-[22rem] lg:h-[28rem] rounded-t-lg object-cover"
          src={post_data.image}
          alt={post_data.title + " cover"}
          format="webp"
          quality={85}
          loading="eager"
          width={925}
          aspectRatio={16 / 9}
          fit="cover"
          position="center"
        />
      )
    }

    <div class="p-8 md:px-15 lg:px-20">
      <div class="mb-5 flex justify-between">
        <a href={"/dev/" + user_data.username} class="flex items-center space-x-4">
          <img class="w-12 h-12 rounded-full" src={user_data.avatar_url_small} alt={user_data.name + " avatar"} />
          <div class="font-medium dark:text-white">
            <div>
              {user_data.name}
              <spam class="mx-2 text-gray-700">•</spam>
              <spam class="text-gray-500 font-normal capitalize" time-from-date>
                {display_date}
              </spam>
            </div>
            <div class="text-sm text-gray-500 dark:text-gray-400">{user_data.headline}</div>
          </div>
        </a>

        <div class="flex items-center">
          <div class="text-sm hidden md:block text-gray-500 mr-3">{read_time} lectura</div>
          <button
            id="dropdownMenuIconHorizontalButton"
            data-dropdown-toggle="dropdownDotsHorizontal"
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button"
          >
            <img src="/assets/img/icons/menu-vertical-black.svg" class="h-6 w-6 min-w-[1.5rem]" />
          </button>
        </div>

        <!-- Dropdown menu -->
        <div
          id="dropdownDotsHorizontal"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
        >
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
            <li>
              <a
                id="shareThisBtn"
                class="block px-4 cursor-pointer py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Compartir</a
              >
            </li>
            <li>
              <a
                href={"https://github.com/CuCodersCommunity/cucoderscommunity.github.io/edit/main/src/content/blog/" +
                  post.id}
                target="_blank"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Editar</a
              >
            </li>
          </ul>
          <div class="py-1">
            <a
              data-modal-target="reportModal"
              data-modal-toggle="reportModal"
              class="block px-4 cursor-pointer py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Reportar</a
            >
          </div>
        </div>
      </div>
      <h1 class="mb-5 text-3xl md:text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
        {post_data.title}
      </h1>
      <div class="my-2 flex justify-between">
        <div>
          {
            post_data.categories.map((category) => (
              <a
                href={"/categorias/" + categoriesList[category].slug}
                class="text-gray-600 bg-white my-1 border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-normal rounded md:text-base text-sm px-1 py-1.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              >
                {"#" + categoriesList[category].text}
              </a>
            ))
          }
        </div>
      </div>
      <article
        class="my-5 prose lg:prose-lg prose-img:mx-auto max-w-none break-words prose-h1:text-3xl md:prose-h1:!text-4xl"
      >
        <slot />
      </article>
    </div>
  </div>

  <div class="container md:mx-auto lg:max-w-[58rem] w-full">
    <div class="giscus"></div>
  </div>
</BaseLayout>

<ShareThisModal />
<ReportModal />

<script
  src="https://giscus.app/client.js"
  is:inline
  data-repo="CuCodersCommunity/cucoderscommunity.github.io"
  data-repo-id="R_kgDOIvI3_A"
  data-category="Page Comments"
  data-category-id="DIC_kwDOIvI3_M4CTxRG"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="https://cucoders.dev/assets/styles/giscus_custom_style.css"
  data-lang="es"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
