---
import BaseLayout from "./baseLayout.astro";

const { profile } = Astro.props;
---

<BaseLayout title={profile.name} description={profile.bio} image={profile.avatar_url}>
  <div
    class="bg-white border md:mx-auto mb-5 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    <div class="p-8 md:px-15 lg:px-12">
      <div class="mb-5 flex justify-between">
        <div class="flex items-center space-x-4">
          <img class="w-36 h-36 rounded-full mr-2" src={profile.avatar_url} alt={profile.name + " avatar"} />
          <div class="font-medium dark:text-white">
            <div class="text-2xl mb-1 flex justify-between items-center">
              <div class="">
                {profile.name}
              </div>
              <div>
                <a
                  href="https://t.me/CuCodersComunidad"
                  class="hidden md:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 keychainify-checked"
                >
                  <img src="/assets/img/icons/github.svg" class="w-6 h-6 inline" />
                </a>
                <a
                href="https://t.me/CuCodersComunidad"
                class="hidden md:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 keychainify-checked"
              >
                <img src="/assets/img/icons/twitter.svg" class="w-6 h-6 inline" />
              </a>
              <a
              href="https://t.me/CuCodersComunidad"
              class="hidden md:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 keychainify-checked"
            >
              <img src="/assets/img/icons/linkedin.svg" class="w-6 h-6 inline" />
            </a>
            <a
            href="https://t.me/CuCodersComunidad"
            class="hidden md:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 keychainify-checked"
          >
            <img src="/assets/img/icons/web.svg" class="w-6 h-6 inline" />
          </a>
      
              </div>
            </div>
            <div class="text-base mb-3 font-normal flex text-gray-600 dark:text-gray-500">
            <div>
              {profile.headline}
              </div>  
              <div class="ml-10">
                Cuba
                </div>  
            </div>
            <div class="text-base mb-1 font-normal">{profile.bio}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
