---
import BaseLayout from "./baseLayout.astro";
import ProfileHeader from "../components/profile/profileHeader.astro";
import ProfileTabs from "../components/profile/profileTabs.astro";

const { profile, activeTab } = Astro.props;
---

<BaseLayout title={profile.name} description={profile.bio} image={profile.avatar_url}>
  <ProfileHeader profile={profile} />

  <div
    class="bg-white border md:mx-auto mb-5 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    <ProfileTabs activeTab={activeTab} />
    <slot />
  </div>
</BaseLayout>
