---
import BaseLayout from "../layouts/baseLayout.astro";
import RightSideBar from "../components/rightSideBar.astro";
import RightDrawer from "../components/rightDrawer.astro";
import ResourcesSidebar from "../components/resourcesSidebar.astro";

const {
  title,
  description = "Mantente a la vanguardia en el mundo de la programación con nuestro directorio de los mejores recursos y herramientas de todo Internet. Descubre tutoriales, herramientas, aplicaciones y mucho más para mejorar tus habilidades y optimizar tu trabajo.",
  image,
  openCategory,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image} hasRightSidebar={true}>
  <div class="grid w-full gap-8 grid-cols-1 md:grid-cols-[16rem_1fr] mt-8">
    <div class="hidden md:block">
      <ResourcesSidebar openCategory={openCategory} />
    </div>
    <div class="px-5 md:px-0">
      <slot />
    </div>
  </div>
</BaseLayout>

<RightDrawer title="Categorías">
  <ResourcesSidebar isSideMenu={true} openCategory={openCategory} />
</RightDrawer>
