---
import appCategories from "../../data/appsCategories.json";
import { Image } from "@astrojs/image/components";

const {
  url,
  title,
  subtitle,
  logo,
  categories,
  classes = "inline-flex items-center w-full p-5 text-gray-500 bg-white border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700",
} = Astro.props;
---

<div class={classes}>
  <a href={url} class="p-3 border md:mr-2 rounded-2xl bg-white dark:bg-gray-900 dark:border-gray-700 self-start">
    <Image
      class="w-10 h-10 md:w-12 md:h-12 md:min-w-[3rem] min-w-[2.5rem] rounded-xl"
      src={logo}
      alt={title + " logo"}
      format="webp"
      quality={85}
      width={48}
      aspectRatio={1}
      fit="cover"
      position="center"
    />
  </a>
  <div class="ml-1">
    <a href={url} class="w-full ml-2 text-lg text-gray-800 font-semibold dark:text-gray-100">{title}</a>
    <a href={url} class="w-full ml-2 text-sm md:text:base text-gray-700 dark:text-gray-200 line-clamp-2 md:line-clamp-1">{subtitle}</a>
    <div class="mt-1 hidden md:block">
      {
        categories.map((category) => (
          <a
            href={"/apps/" + appCategories[category].slug}
            class="text-gray-500 text-sm mr-2 px-2 border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-normal rounded  py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            {"#" + appCategories[category].text}
          </a>
        ))
      }
    </div>
  </div>
</div>
