---
import Breadcrumb from "./breadcrumb.astro";
const { breadcrumbItems, btnLabel, btnUrl, btnIcon } = Astro.props;
---

<div class="pl-2 mb-3.5 flex md:justify-between flex-wrap justify-center">
  <Breadcrumb items={breadcrumbItems} />
  {
    btnUrl && (
      <a
        href={btnUrl}
        class="text-gray-600 border bg-white hidden md:inline-flex border-gray-300 focus:outline-none hover:text-gray-800 font-semibold rounded-md text-sm font-normal px-3 py-1.5 text-center justify-center items-center dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        {btnIcon && <img src={btnIcon} class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" alt={btnLabel} />}
        {btnLabel}
      </a>
    )
  }
</div>
