---
const { id, label, placeholder, maxlength } = Astro.props;
---

<div>
    <label for={id} class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{label}</label>
    <div class="flex">
      <span
        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
      >
        @
      </span>
      <input
        type="text"
        id={id}
        maxlength={maxlength}
        class="rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-gray-500 focus:border-gray-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        placeholder={placeholder}
      />
    </div>
  </div>